* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.nav-fa {
  font-size: 23px;
}

.nav-fa i {
  margin: 0 0 0 10px;
}

.carousel-inner {
  height: 80vh;
}

.our-pra {
  margin: auto;
  text-align: center;
}

.our-pra p {
  margin-bottom: 0px;
}

.text {
  background-color: white;
}

.text h6 {
  text-align: center;
  margin-bottom: 0px;
  font-weight: bold;
}

.text p {
  text-align: center;
}

section {
  background-image: url('../image/bgs.jpeg');
  padding: 40px 0px;
  background-size: cover;
  padding-bottom: 100px;
}



/* .toptxts, */
.sociallinks {
  position: absolute;
  bottom: 8%;
  z-index: 100;
  width: 80%;
}

.flexsocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* .middilslider .owl-nav .owl-prev,
.middilslider .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  height: 10vh;
  width: 10vh;
  border-radius: 50% !important;
}

.middilslider .owl-nav .owl-prev:hover,
.middilslider .owl-nav .owl-next:hover {
  background: none !important;
} */

/* .middilslider .owl-nav .owl-prev span,
.middilslider .owl-nav .owl-next span {
  font-size: 70px;
  position: absolute;
  top: -45%;
  margin-left: 20px;
} */

/* .middilslider .owl-nav .owl-prev {
  left: 0;
}

.middilslider .owl-nav .owl-next {
  right: 0;
} */


.middilslider .owl-item>div {
  cursor: pointer;
  margin: 6% 0%;
  transition: margin 0.4s ease;
  max-width: 80%;
  text-align: center;
  margin-top: 40%;
}

.middilslider .owl-item .sliderdesc .slidertxts {
  opacity: 0;
}

.middilslider .owl-item.center>div {
  cursor: auto;
  margin: 0;
  max-width: 100%;
  margin-top: -10%;
}

.middilslider .owl-item.center .slidertxts {
  opacity: 1;
}

.middilslider .owl-item:not(.center)>div:hover {
  opacity: .75;
}

.btnsocials button {
  padding: 10px 100px;
  border-radius: 20px;
  border: 0;
  outline: none;
  background: #151515;
  color: #fff;
  letter-spacing: 1px;
}

.slidertxts {
  margin-top: -15%;
}

.navbar .container-fluid {
  margin: 0 2%;
}

.linkssocial {
  margin-left: 100px;
}

.linkssocial i {
  margin: 0 10px;
  height: 30px;
  width: 30px;
  background: #151515;
  color: #fff;
  border-radius: 50%;
  padding: 8px;
}

.txtopacity {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}

.txtopacity h3 {
  font-size: 100px;
  letter-spacing: 10px;
  font-weight: bold;
  color: #e7e7e7;
}

.sliderdesc img {
  mix-blend-mode: multiply;
}

.cardslidersection .text {
  padding: 10px 0px;
}

.cardslidersection .text p {
  margin-bottom: 0;
  padding: 5px 0px;
  font-size: 14px;
}

.our-pra h5 {
  font-size: 30px;
  font-weight: bold;
}

.our-pra p {
  font-size: 20px;
  letter-spacing: 1px;
}

.div-one {
  padding: 40px 0px;
}

.keep-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.keep-img img {
  width: 45%;
  margin: 5px;
}

.div-inner h5 {
  font-size: 30px;
  font-weight: bold;
}

.div-inner p {
  margin: 0;
  padding: 10px 0px 30px;
  font-size: 18px;

}

.div-one {
  padding: 50px 0px;
}


.div-inner-two input {
  border: none;
  border-bottom: 1px solid grey;
  width: 80%;
  font-size: 20px;
}

.div-inner-two input:focus {
  box-shadow: none !important;
  border-bottom: 1px solid grey;
}

.div-inner-two button {
  background-color: #151515;
  color: white;
  border-radius: 20px;
  padding: 8px 50px;
  margin-top: 25px;
  border: none;
}

.footer {
  padding: 40px 0px;
  background: whitesmoke;
}

.footer-icon ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.footer-icon li {
  list-style: none;
  width: 50%;
}

.footer-icon a {
  text-decoration: none;
  color: black;
}

.footer-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 84%;
  margin: auto;
}

.footer-img img {
  width: 10%;
}

.slidertxts span {
  height: 1px;
  width: 80px;
  background: #ccc;
  display: block;
  text-align: center;
  margin: auto;
}

.divone-div {
  padding-top: 80px;
  text-align: left;
}

.exploredimond {
  padding: 100px 0px;
  text-align: center;
}

.exploretxt h3 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
}

.exploretxt p {
  font-size: 18px;
}

.footer .footertxt {
  font-size: 30px;
}

.footer span {
  color: orange;
  display: block;
  margin-bottom: 30px;
}

.footer p {
  font-size: 18px;
  padding-bottom: 40px;
}

.footer-icon {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer-icon ul {
  padding: 20px 0px 60px;
  width: 60%;
}

.footer-icon ul li a {
  font-weight: 500;
  color: #444;
}

.copy p {
  font-size: 14px;
  text-align: center;
  padding: 50px 0 0;
}

.copy a {
  text-decoration: none;
  color: #444;
}

.slick-slider .element {
  height: 400px;
  width: 300px;
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
}

.slick-slider .slick-disabled {
  opacity: 0;
  pointer-events: none;
}

.slick-slider .element img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: center;
  margin: 0 10px;
}

.slick-slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.slick-slider .slick-dots li {
  margin: 0 10px;
  padding-top: 20px;
}

.slick-slider .slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #ccc;
  text-indent: -9999px;
}


.slicktxt {
  background: whitesmoke;
  border: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
  width: 255px;
  margin-left: 10px;
}

.slicktxt h4 {
  font-size: 15px;
  color: #000;
  padding-top: 10px;
}

.slicktxt p {
  font-size: 14px;
  color: orange;
}


.slider {
  width: 100%
}

.slider input {
  display: none;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 380px;
  perspective: 1000px;
  overflow: hidden;
}

.testimonials .item {
  width: 300px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  user-select: none;
  cursor: pointer;
}

.testimonials .item h1 {
  font-size: 114px;
  color: white;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ccc;
  margin: 7px;
  transition-duration: 0.2s;
}



#t-1:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-4"],
#t-5:checked~.dots label[for="t-5"] {
  background-color: #aaa;
  box-shadow: 0px 0px 0px 3px #dddddd24;
}

/* #t-1:checked~.dots label[for="t-2"],
#t-2:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-3"],
#t-3:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-4"],
#t-4:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-5"],
#t-5:checked~.dots label[for="t-4"] {
  transform: scale(1.5);
} */

#t-1:checked~.testimonials label[for="t-3"],
#t-2:checked~.testimonials label[for="t-4"],
#t-3:checked~.testimonials label[for="t-5"],
#t-4:checked~.testimonials label[for="t-1"],
#t-5:checked~.testimonials label[for="t-2"] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}

#t-1:checked~.testimonials label[for="t-2"],
#t-2:checked~.testimonials label[for="t-3"],
#t-3:checked~.testimonials label[for="t-4"],
#t-4:checked~.testimonials label[for="t-5"],
#t-5:checked~.testimonials label[for="t-1"] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}

#t-2:checked~.testimonials label[for="t-1"],
#t-3:checked~.testimonials label[for="t-2"],
#t-4:checked~.testimonials label[for="t-3"],
#t-5:checked~.testimonials label[for="t-4"],
#t-1:checked~.testimonials label[for="t-5"] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}

#t-3:checked~.testimonials label[for="t-1"],
#t-4:checked~.testimonials label[for="t-2"],
#t-5:checked~.testimonials label[for="t-3"],
#t-2:checked~.testimonials label[for="t-5"],
#t-1:checked~.testimonials label[for="t-4"] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);

}

#t-1:checked~.testimonials label[for="t-1"],
#t-2:checked~.testimonials label[for="t-2"],
#t-3:checked~.testimonials label[for="t-3"],
#t-4:checked~.testimonials label[for="t-4"],
#t-5:checked~.testimonials label[for="t-4"],
#t-5:checked~.testimonials label[for="t-5"] {

  z-index: 4;
}

.maketxt img {
  max-width: 100%;
  object-fit: cover;
  height: 300px;
  border: 1px solid #ccc;
}

.maketxts {
  background-color: whitesmoke;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px 0px 0;
}

.maketxts h4 {
  font-size: 16px;
  font-weight: bold;
}

.maketxts p {
  font-size: 14px;
  color: orange;
}

.linksharemob {
  display: none;
}

.nav-fa-mob {
  display: none;
}

@media (max-width:991px) {
  .txtopacity h3 {
    font-size: 60px;
    letter-spacing: 1px;
  }

  .flexsocial {
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
  }

  .sociallinks {
    width: 100%;
  }

  .linkssocial {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .middilslider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }

  .slick-slider .element img {
    width: 100%;
  }

  .slicktxt {
    width: 100%;
  }

  nav {
    z-index: 100;
    position: relative;
  }

  button.navbar-toggler {
    position: absolute;
    top: 10px;
  }

  button.navbar-toggler.collapsed {
    position: absolute;
    top: 10px;
  }

  .nav-fa,
  .fa-heart-o {
    display: none !important;
  }

  .nav-fa-mob {
    position: absolute;
    top: 5px;
    right: 25px;
    display: block;
    font-size: 25px;
  }

  section {
    padding-bottom: 60px;
  }

  a.navbar-brand {
    text-align: center;
    width: 100%;
  }

  .toptxts {
    display: none;
  }

  .navbar-nav {
    padding-top: 25px;
  }

  .linkssocial {
    display: none;
  }

  .linksharemob {
    display: block;
    position: absolute;
    left: 25%;
  }

  .linksharemob .fa-share {
    height: 40px;
    width: 40px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    border-radius: 50%;
  }

  .btnsocials button {
    padding: 10px 50px;
  }

  .middilslider {
    padding-top: 30px;
  }

  .sociallinks {
    bottom: 30%;
  }

  .topslider {
    min-height: 70vh;
  }

  .nav-fa-mob .fa {
    margin: 0 5px;
  }

  .div-one .row {
    flex-direction: column;
    position: relative;
  }

  .div-one .row .col-6 {
    width: 100%;
  }

  .exploredimond {
    padding: 50px 0px 0;
  }

  .div-one {
    padding-top: 0;
    padding-bottom: 25%;
  }

  .divone-div {
    text-align: center;
  }

  .div-inner-two {
    position: absolute;
    bottom: -20%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .div-inner-two input {
    margin: auto;
    text-align: center;
    width: 60%;
  }

  .footer-icon ul li a {
    text-decoration: underline;
  }

  .copy {
    width: 80%;
    margin: auto;
  }

  #t-2:checked~.testimonials label[for="t-1"],
  #t-3:checked~.testimonials label[for="t-2"],
  #t-4:checked~.testimonials label[for="t-3"],
  #t-5:checked~.testimonials label[for="t-4"],
  #t-1:checked~.testimonials label[for="t-5"] {
    transform: translate3d(-300px, 0, -470px) rotateY(15deg);
    z-index: 3;
  }

  #t-1:checked~.testimonials label[for="t-2"],
  #t-2:checked~.testimonials label[for="t-3"],
  #t-3:checked~.testimonials label[for="t-4"],
  #t-4:checked~.testimonials label[for="t-5"],
  #t-5:checked~.testimonials label[for="t-1"] {
    transform: translate3d(300px, 0, -470px) rotateY(-15deg);
    z-index: 3;
  }

}

@media (max-width: 820px){
  .topslider {
      min-height: 46vh;
  }
  .sociallinks {
    bottom: 59%;
  }
}

@media (max-width: 768px){
.topslider {
    min-height: 50vh;
}
.sociallinks {
  bottom: 54%;
}
.div-inner-two input {
  width: 73%;
  font-size: 20px;
}
}


@media (max-width:600px) {
  .sociallinks {
    bottom: 15%;
  }

  .topslider {
    min-height: 90vh;
  }

  .linksharemob {
    left: 18%;
  }

  .cardslidersection .text {
    height: 100px;
  }

  .text h6 {
    font-size: 12px;
  }

  .cardslidersection .text p {
    font-size: 10px;
  }

  .cardslidersection .col-3 {
    padding: 0 5px;
  }

  .maketxt img {
    height: 285px;
  }

  .maketxts {
    width: 280px;
    margin: auto;
  }

  .testimonials .item {
    width: 280px;
  }

  #t-2:checked~.testimonials label[for="t-1"],
  #t-3:checked~.testimonials label[for="t-2"],
  #t-4:checked~.testimonials label[for="t-3"],
  #t-5:checked~.testimonials label[for="t-4"],
  #t-1:checked~.testimonials label[for="t-5"] {
    transform: translate3d(-300px, 0, -470px) rotateY(15deg);
    z-index: 3;
  }

  #t-1:checked~.testimonials label[for="t-2"],
  #t-2:checked~.testimonials label[for="t-3"],
  #t-3:checked~.testimonials label[for="t-4"],
  #t-4:checked~.testimonials label[for="t-5"],
  #t-5:checked~.testimonials label[for="t-1"] {
    transform: translate3d(300px, 0, -470px) rotateY(-15deg);
    z-index: 3;
  }


}


@media (max-width:480px) {
  .topslider {
    min-height: 50vh;
  }

  .sociallinks {
    bottom: 50%;
  }

  .linksharemob {
    left: 10%;
  }

  .maketxt img {
    height: 200px;
  }

  .maketxts {
    width: 200px;
    margin: auto;
    padding: 10px;
  }

  #t-2:checked~.testimonials label[for="t-1"],
  #t-3:checked~.testimonials label[for="t-2"],
  #t-4:checked~.testimonials label[for="t-3"],
  #t-5:checked~.testimonials label[for="t-4"],
  #t-1:checked~.testimonials label[for="t-5"] {
    transform: translate3d(-300px, 0, -900px) rotateY(15deg);
    z-index: 3;
  }

  #t-1:checked~.testimonials label[for="t-2"],
  #t-2:checked~.testimonials label[for="t-3"],
  #t-3:checked~.testimonials label[for="t-4"],
  #t-4:checked~.testimonials label[for="t-5"],
  #t-5:checked~.testimonials label[for="t-1"] {
    transform: translate3d(300px, 0, -900px) rotateY(-15deg);
    z-index: 3;
  }

  .footer-icon ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-img {
    max-width: 95%;
  }

  .footer-img img {
    width: 15%;
  }
  .div-inner-two {
    
    bottom: -21%;
}
}

@media (max-width:390px){
  .cardslidersection .text {
    height: 85px;
}
.div-inner-two {
  bottom: -22%;
}
.div-inner-two input {
  font-size: 17px;
}
}

@media (max-width:380px) {
  .topslider {
    min-height: 50vh;
  }

  .sociallinks {
    bottom: 35%;
  }

  .linksharemob {
    left: 10%;
  }

}

@media (max-width:360px) {


  .sociallinks {
    bottom: 40%;
  }

 

}