body,
form {
  margin: 0;
  padding: 0;
  background: #999;
}

[type="radio"],
[type="reset"] {
  position: absolute;
  top: -999px;
  left: -999px;
}

label {
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.board {
  position: relative;
  width: 50vw;
  height: 50vw;
  background: radial-gradient(circle farthest-side at 50% 50%, red 0%, red 2.778%, #090 2.778%, #090 6.944%, #ff9 6.944%, #ff9 41.667%, #090 41.667%, #090 45.833%, #ff9 45.833%, #ff9 69.444%, #090 69.444%, #090 73.611%, black 73.611%, black 95%, white 95%, white 96%, black 96%, black 100%);
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-9deg);
}

.board>div {
  position: absolute;
  top: -50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform-origin: 0 100%;
  overflow: hidden;
}

.board>div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 0 100%;
  transform: skew(72deg);
}

.board>div:nth-of-type(2n+1):before {
  background: radial-gradient(circle farthest-side at 0 100%, red 0%, red 1.389%, #090 1.389%, #090 3.472%, black 3.472%, black 20.833%, red 20.833%, red 22.917%, black 22.917%, black 34.722%, red 34.722%, red 36.806%, black 36.806%, black 47.5%, white 47.5%, white 48%, black 48%, black 50%);
}

.board>div:after {
  position: absolute;
  top: 83%;
  color: white;
  font-family: cursive;
  font-size: 3vw;
  transform: skew(72deg) rotate(80deg) translate(3vw);
}

.board>div:nth-of-type(2n):after {
  top: 82.5%;
}

.board>div:nth-of-type(n+7):nth-of-type(-n+15):after {
  transform: skew(72deg) rotate(258deg) translate(-3vw);
}

.board>div:nth-of-type(2n):nth-of-type(n+7):nth-of-type(-n+15):after {
  top: 83.5%;
}

.board>div:nth-of-type(1):after {
  content: "20";
}

.board>div:nth-of-type(2):after {
  content: "1";
}

.board>div:nth-of-type(3):after {
  content: "18";
}

.board>div:nth-of-type(4):after {
  content: "4";
}

.board>div:nth-of-type(5):after {
  content: "13";
}

.board>div:nth-of-type(6):after {
  content: "6";
}

.board>div:nth-of-type(7):after {
  content: "10";
}

.board>div:nth-of-type(8):after {
  content: "15";
}

.board>div:nth-of-type(9):after {
  content: "2";
}

.board>div:nth-of-type(10):after {
  content: "17";
}

.board>div:nth-of-type(11):after {
  content: "3";
}

.board>div:nth-of-type(12):after {
  content: "19";
}

.board>div:nth-of-type(13):after {
  content: "7";
}

.board>div:nth-of-type(14):after {
  content: "16";
}

.board>div:nth-of-type(15):after {
  content: "8";
}

.board>div:nth-of-type(16):after {
  content: "11";
}

.board>div:nth-of-type(17):after {
  content: "14";
}

.board>div:nth-of-type(18):after {
  content: "9";
}

.board>div:nth-of-type(19):after {
  content: "12";
}

.board>div:nth-of-type(20):after {
  content: "5";
}

.board>div:nth-of-type(5) {
  transform: skew(-72deg);
}

.board>div:nth-of-type(6) {
  transform: rotate(18deg) skew(-72deg);
}

.board>div:nth-of-type(7) {
  transform: rotate(36deg) skew(-72deg);
}

.board>div:nth-of-type(8) {
  transform: rotate(54deg) skew(-72deg);
}

.board>div:nth-of-type(9) {
  transform: rotate(72deg) skew(-72deg);
}

.board>div:nth-of-type(10) {
  transform: rotate(90deg) skew(-72deg);
}

.board>div:nth-of-type(11) {
  transform: rotate(108deg) skew(-72deg);
}

.board>div:nth-of-type(12) {
  transform: rotate(126deg) skew(-72deg);
}

.board>div:nth-of-type(13) {
  transform: rotate(144deg) skew(-72deg);
}

.board>div:nth-of-type(14) {
  transform: rotate(162deg) skew(-72deg);
}

.board>div:nth-of-type(15) {
  transform: rotate(180deg) skew(-72deg);
}

.board>div:nth-of-type(16) {
  transform: rotate(198deg) skew(-72deg);
}

.board>div:nth-of-type(17) {
  transform: rotate(216deg) skew(-72deg);
}

.board>div:nth-of-type(18) {
  transform: rotate(234deg) skew(-72deg);
}

.board>div:nth-of-type(19) {
  transform: rotate(252deg) skew(-72deg);
}

.board>div:nth-of-type(20) {
  transform: rotate(270deg) skew(-72deg);
}

.board>div:nth-of-type(1) {
  transform: rotate(288deg) skew(-72deg);
}

.board>div:nth-of-type(2) {
  transform: rotate(306deg) skew(-72deg);
}

.board>div:nth-of-type(3) {
  transform: rotate(324deg) skew(-72deg);
}

.board>div:nth-of-type(4) {
  transform: rotate(342deg) skew(-72deg);
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

.spin {
  visibility: hidden;
  position: absolute;
  top: -2vw;
  left: calc(50% - 2vw);
  width: 4vw;
  height: calc(50% + 4vw);
  transform-origin: 50% calc(100% - 2vw);
  animation: spin 7.5s linear infinite paused;
}

@keyframes move {
  100% {
    transform: translateY(25vw);
  }
}

.move {
  visibility: hidden;
  position: absolute;
  width: 4vw;
  height: 4vw;
  animation: move 2.5s linear -1s infinite alternate paused;
}

@keyframes spinback {
  100% {
    transform: rotate(-1turn);
  }
}

.spinback {
  visibility: hidden;
  display: block;
  width: 100%;
  height: 100%;
  animation: spinback 7.5s linear -7.3s infinite paused;
}

@keyframes dart {
  50% {
    transform: scale(0.8) translateY(-2.5vw) rotate(0.5turn);
  }

  100% {
    transform: scale(0.6) translateY(0) rotate(0.8turn);
  }
}

.dart,
.darts label span {
  display: block;
  position: absolute;
  background: slateblue;
  border-radius: 50%;
}

.dart {
  visibility: hidden;
  left: 40%;
  width: 20%;
  height: 100%;
  animation: dart 1.5s linear 1 forwards paused;
}

.dart:before,
.darts label span:before {
  content: "";
  position: absolute;
  top: 40%;
  left: -200%;
  width: 500%;
  height: 20%;
  background: slateblue;
  border-radius: 50%;
}

.dart:after,
.darts label span:after {
  content: "";
  position: absolute;
  top: 38%;
  left: -18%;
  width: 125%;
  height: 25%;
  background: gold;
  border-radius: 50%;
}

.throw {
  visibility: hidden;
  position: absolute;
  top: 25vw;
  left: 50vw;
  width: 10vw;
  height: 10vw;
  background: red;
  border-radius: 50%;
  overflow: hidden;
}

.throw:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: white;
  font-size: bold;
  font-family: sans-serif;
  font-size: 2.5vw;
  content: "AIM";
}

@keyframes scroll {
  100% {
    transform: translateY(-100%);
  }
}

[for="x1"],
[for="x2"],
[class^="angle"],
[class^="radius"],
.throws1,
.throws2,
.score1,
.score2 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

[for="x1"],
[for="x2"] {
  height: 200vw;
}

[class^="angle"] {
  height: 200vw;
  animation: scroll 7.5s steps(20) infinite paused;
}

[class^="radius"] {
  height: 360vw;
  animation: scroll 2.5s steps(72) infinite -1s alternate paused;
}

[class^="throws"] {
  height: 43vw;
}

[class^="angle"] label {
  height: 10vw;
}

[class^="radius"] label {
  height: 5vw;
}

.reyDios {
  position: absolute;
  top: 15vw;
  left: 50vw;
  width: 5vw;
  height: 5vw;
  background: #fdb;
  border-radius: 20% 20% 40% 40%;
  overflow: hidden;
}

.reyDios .eye {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 25%;
  height: 25%;
  background: white;
  border-radius: 50%;
  overflow: hidden;
}

.reyDios .eye:nth-of-type(2) {
  left: 60%;
}

.reyDios .eye:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  transform: translate(-150%, -50%);
  background: black;
  border-radius: 50%;
  transition: transform 1s linear;
}

@keyframes blink {
  98% {
    transform: translateY(-100%);
  }

  99% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.reyDios .eye:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  background: #fdb;
  animation: blink 20s linear infinite;
}

.reyDios .mouth {
  position: absolute;
  top: 75%;
  left: 25%;
  width: 50%;
  height: 25%;
  overflow: hidden;
}

@keyframes talk {
  25% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(-100%);
  }

  75% {
    transform: translateY(-50%);
  }
}

.reyDios .mouth:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 50%;
  transform: translateY(-75%);
}

.throws {
  visibility: hidden;
  position: absolute;
  top: 13vw;
  left: 55vw;
  width: 14vw;
  height: 6vw;
  background: white;
  border-radius: 2vw 2vw 2vw 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 2.5vw;
  line-height: 5vw;
  font-weight: bold;
  text-allign: center;
}

.throws:before,
.throws:after {
  float: left;
  padding-left: 1vw;
}

.throws label {
  height: 5vw;
}

.score {
  position: absolute;
  top: 5vw;
  left: 70vw;
  width: 25vw;
  height: 10vw;
  background: #333;
  border-top: 1vw #433 solid;
  border-right: 1vw #833 solid;
  border-bottom: 1vw #a33 solid;
  border-left: 1vw #633 solid;
  overflow: hidden;
}

.score div {
  transition: top 0.001s linear 0.5s;
  height: 50200%;
  pointer-events: none;
}

.score label {
  height: 10vw;
  font-family: cursive;
  color: white;
  font-size: 5vw;
  line-height: 10vw;
}

.score .bust {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.score .zero {
  position: absolute;
  bottom: 0;
}

.info {
  position: absolute;
  top: 18vw;
  left: 70vw;
  width: 27vw;
  height: 6vw;
  font-size: 2.5vw;
  text-align: center;
}

.info:before {
  content: "";
}

.darts {
  position: absolute;
  top: 25vw;
  left: 70vw;
  width: 25vw;
  height: 8vw;
  background: white;
  border: 1vw #333 solid;
  pointer-events: none;
  overflow: hidden;
}

.darts label {
  visibility: hidden;
  height: 8vw;
  position: absolute;
}

.darts label span {
  width: 0.48vw;
  height: 2.4vw;
}

.darts label:nth-of-type(-n+10) span {
  top: 1vw;
}

.darts label:nth-of-type(n+11) span {
  top: 4.5vw;
}

.darts label:nth-of-type(10n+1) span {
  left: 1.01vw;
}

.darts label:nth-of-type(10n+2) span {
  left: 3.51vw;
}

.darts label:nth-of-type(10n+3) span {
  left: 6.01vw;
}

.darts label:nth-of-type(10n+4) span {
  left: 8.51vw;
}

.darts label:nth-of-type(10n+5) span {
  left: 11.01vw;
}

.darts label:nth-of-type(10n+6) span {
  left: 13.51vw;
}

.darts label:nth-of-type(10n+7) span {
  left: 16.01vw;
}

.darts label:nth-of-type(10n+8) span {
  left: 18.51vw;
}

.darts label:nth-of-type(10n+9) span {
  left: 21.01vw;
}

.darts label:nth-of-type(10n+10) span {
  left: 23.51vw;
}

[for="reset"] {
  visibility: hidden;
  position: absolute;
  top: 40vw;
  left: 82vw;
  width: 15vw;
  height: 3vw;
  padding-top: 1vw;
  background: #ccc;
  border-radius: 1vw;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: bold;
}

[for="reset"]:hover {
  background: #666;
}

[id^="d1_"]:checked~[id^="a2_"]:checked~.throw,
[id^="d1_"]:checked~#x2:checked~.throw [for="x1"],
#x1:checked~[id^="a2_"]:checked~.throw .angle1,
[id^="a1_"]:checked~[id^="r2_"]:checked~.reyDios .radius1,
[id^="r1_"]:checked~[id^="t2_"]:checked~.throws,
[id^="r1_"]:checked~[id^="t2_"]:checked~.throws .throws1,
[id^="d2_"]:checked~[id^="a1_"]:checked~.throw,
[id^="d2_"]:checked~#x1:checked~.throw [for="x2"],
#x2:checked~[id^="a1_"]:checked~.throw .angle2,
[id^="a2_"]:checked~[id^="r1_"]:checked~.reyDios .radius2,
[id^="r2_"]:checked~[id^="t1_"]:checked~.throws,
[id^="r2_"]:checked~[id^="t1_"]:checked~.throws .throws2,
[id^="d1_"]:checked~[id^="t2_"]:checked~.board #spin1,
[id^="d1_"]:checked~[id^="t2_"]:checked~.board #spinback1,
[id^="d1_"]:checked~[id^="t2_"]:checked~.board #move1,
[id^="d1_"]:checked~[id^="t2_"]:checked~.board #dart1,
[id^="d2_"]:checked~[id^="t1_"]:checked~.board #spin2,
[id^="d2_"]:checked~[id^="t1_"]:checked~.board #spinback2,
[id^="d2_"]:checked~[id^="t1_"]:checked~.board #move2,
[id^="d2_"]:checked~[id^="t1_"]:checked~.board #dart2,
[id^="d1_"]:checked~.score .score2,
[id^="d2_"]:checked~.score .score1,
[id^="t1_"]:checked~[id^="s2_"]:checked~.score [for="t1_bust"].bust,
[id^="t2_"]:checked~[id^="s1_"]:checked~.score [for="t2_bust"].bust {
  visibility: visible;
}

[id^="d1_"]:checked~#x2:checked~.board #spin1,
[id^="d1_"]:checked~#x2:checked~.throw .angle1,
[id^="d1_"]:checked~#x2:checked~.board #spinback1,
#x1:checked~[id^="a2_"]:checked~.board #move1,
#x1:checked~[id^="a2_"]:checked~.reyDios .radius1,
[id^="a1_"]:checked~[id^="r2_"]:checked~.board #dart1,
[id^="d2_"]:checked~#x1:checked~.board #spin2,
[id^="d2_"]:checked~#x1:checked~.throw .angle2,
[id^="d2_"]:checked~#x1:checked~.board #spinback2,
#x2:checked~[id^="a1_"]:checked~.board #move2,
#x2:checked~[id^="a1_"]:checked~.reyDios .radius2,
[id^="a2_"]:checked~[id^="r1_"]:checked~.board #dart2 {
  animation-play-state: running;
}

[id^="a1_"]:checked~[id^="r2_"]:checked~.reyDios .eye:before,
[id^="a2_"]:checked~[id^="r1_"]:checked~.reyDios .eye:before {
  transform: translateX(-50%);
}

[id^="r1_"]:checked~[id^="t2_"]:checked~.reyDios .eye:before,
[id^="r2_"]:checked~[id^="t1_"]:checked~.reyDios .eye:before {
  transform: translateX(50%);
}

[id^="r1_"]:checked~[id^="t2_"]:checked~.reyDios .mouth:before,
[id^="r2_"]:checked~[id^="t1_"]:checked~.reyDios .mouth:before {
  animation: talk 2s linear 1;
}

[id^="d1_"]:checked~[id^="t1_"]:checked~.board #spin1,
[id^="d1_"]:checked~[id^="t1_"]:checked~.board #move1,
[id^="d1_"]:checked~[id^="t1_"]:checked~.board #spinback1,
[id^="d1_"]:checked~[id^="t1_"]:checked~.board #dart1,
[id^="d1_"]:checked~[id^="t1_"]:checked~.throw .angle1,
[id^="d1_"]:checked~[id^="t1_"]:checked~.reyDios .radius1,
[id^="d2_"]:checked~[id^="t2_"]:checked~.board #spin2,
[id^="d2_"]:checked~[id^="t2_"]:checked~.board #move2,
[id^="d2_"]:checked~[id^="t2_"]:checked~.board #spinback2,
[id^="d2_"]:checked~[id^="t2_"]:checked~.board #dart2,
[id^="d2_"]:checked~[id^="t2_"]:checked~.throw .angle2,
[id^="d2_"]:checked~[id^="t2_"]:checked~.reyDios .radius2 {
  animation-name: none;
}

[id^="d1_"]:checked~[id^="t1_"]:checked~[for="reset"],
[id^="d2_"]:checked~[id^="t2_"]:checked~[for="reset"] {
  visibility: visible;
}

[id$="_0r"]:checked~.throws:before {
  content: "0";
}

[id$="_1r"]:checked~.throws:before {
  content: "Bullseye!";
}

[id$="_2r"]:checked~.throws:before {
  content: "25";
}

[id$="_4r"]:checked~.throws:before {
  content: "Double";
}

[id$="_5r"]:checked~.throws:before {
  content: "Treble";
}

[id$="_1a"]:checked~.throws:after {
  content: "1";
}

[id$="_2a"]:checked~.throws:after {
  content: "2";
}

[id$="_3a"]:checked~.throws:after {
  content: "3";
}

[id$="_4a"]:checked~.throws:after {
  content: "4";
}

[id$="_5a"]:checked~.throws:after {
  content: "5";
}

[id$="_6a"]:checked~.throws:after {
  content: "6";
}

[id$="_7a"]:checked~.throws:after {
  content: "7";
}

[id$="_8a"]:checked~.throws:after {
  content: "8";
}

[id$="_9a"]:checked~.throws:after {
  content: "9";
}

[id$="_10a"]:checked~.throws:after {
  content: "10";
}

[id$="_11a"]:checked~.throws:after {
  content: "11";
}

[id$="_12a"]:checked~.throws:after {
  content: "12";
}

[id$="_13a"]:checked~.throws:after {
  content: "13";
}

[id$="_14a"]:checked~.throws:after {
  content: "14";
}

[id$="_15a"]:checked~.throws:after {
  content: "15";
}

[id$="_16a"]:checked~.throws:after {
  content: "16";
}

[id$="_17a"]:checked~.throws:after {
  content: "17";
}

[id$="_18a"]:checked~.throws:after {
  content: "18";
}

[id$="_19a"]:checked~.throws:after {
  content: "19";
}

[id$="_20a"]:checked~.throws:after {
  content: "20";
}

[id$="_0r"]:checked~.throws:after,
[id$="_1r"]:checked~.throws:after,
[id$="_2r"]:checked~.throws:after {
  content: "";
}

[id^="a1_"]:checked~[id^="r2_"]:checked~.info:before,
[id^="a2_"]:checked~[id^="r1_"]:checked~.info:before {
  content: "Click the face for your score";
}

[id^="r1_"]:checked~[id^="t2_"]:checked~.info:before,
[id^="r2_"]:checked~[id^="t1_"]:checked~.info:before {
  content: "Click on the speech bubble";
}

[id^="t1_"]:checked~[id^="s2_"]:checked~.info:before,
[id^="t2_"]:checked~[id^="s1_"]:checked~.info:before {
  content: "Update the scoreboard above";
}

#t1_bust:checked~[id^="s2_"]:checked~.info:before,
#t2_bust:checked~[id^="s1_"]:checked~.info:before {
  content: "Bust. You need to end on a double or bullseye. Click scoreboard again to continue";
  font-size: 2vw;
}

[id^="d1_"]:checked~[id^="s1_"]:checked~.info:before,
[id^="d2_"]:checked~[id^="s2_"]:checked~.info:before {
  content: "Pick another dart from the box below";
}

#d1_5:checked~[id$="_0s"]:checked~.info:before {
  content: "9";
}

#d2_5:checked~[id$="_0s"]:checked~.info:before {
  content: "10";
}

#d1_6:checked~[id$="_0s"]:checked~.info:before {
  content: "11";
}

#d2_6:checked~[id$="_0s"]:checked~.info:before {
  content: "12";
}

#d1_7:checked~[id$="_0s"]:checked~.info:before {
  content: "13";
}

#d2_7:checked~[id$="_0s"]:checked~.info:before {
  content: "14";
}

#d1_8:checked~[id$="_0s"]:checked~.info:before {
  content: "15";
}

#d2_8:checked~[id$="_0s"]:checked~.info:before {
  content: "16";
}

#d1_9:checked~[id$="_0s"]:checked~.info:before {
  content: "17";
}

#d2_9:checked~[id$="_0s"]:checked~.info:before {
  content: "18";
}

#d1_10:checked~[id$="_0s"]:checked~.info:before {
  content: "19";
}

#d2_10:checked~[id$="_0s"]:checked~.info:before {
  content: "20";
}

#d1_11:checked~[id$="_0s"]:checked~.info:before {
  content: "21";
}

[id$="_0s"]:checked~.info:after {
  content: "-dart checkout, well done";
}

[id^="t1_"]:checked~[id^="s2_"]:checked~.score .score1,
[id^="t2_"]:checked~[id^="s1_"]:checked~.score .score2 {
  visibility: visible;
  z-index: 2;
  pointer-events: auto;
}

[id^="t1_"]:checked~[id^="s2_"]:checked~.score .score1 label,
[id^="t2_"]:checked~[id^="s1_"]:checked~.score .score2 label {
  padding-left: 100%;
}

[id^="d1_"]:checked~.board .dart,
[id^="d2_"]:checked~.board .dart {
  animation-name: dart;
}

#x1:checked~[id^="a2_"]:checked~.throw:before,
#x2:checked~[id^="a1_"]:checked~.throw:before {
  content: "THROW";
}

[id^="d1_"]:checked~[id^="s1_"]:checked~.darts,
[id^="d2_"]:checked~[id^="s2_"]:checked~.darts {
  pointer-events: auto;
}

[id^="d"]:checked~[id$="_0s"]:checked~.darts {
  pointer-events: none;
}

[id$="_1r"]:checked~.score .zero,
[id$="_4r"]:checked~.score .zero {
  visibility: hidden;
}

[type="radio"]:nth-of-type(-n+1):checked~.darts label:nth-of-type(-n+20),
[type="radio"]:nth-of-type(-n+2):checked~.darts label:nth-of-type(-n+19),
[type="radio"]:nth-of-type(-n+3):checked~.darts label:nth-of-type(-n+18),
[type="radio"]:nth-of-type(-n+4):checked~.darts label:nth-of-type(-n+17),
[type="radio"]:nth-of-type(-n+5):checked~.darts label:nth-of-type(-n+16),
[type="radio"]:nth-of-type(-n+6):checked~.darts label:nth-of-type(-n+15),
[type="radio"]:nth-of-type(-n+7):checked~.darts label:nth-of-type(-n+14),
[type="radio"]:nth-of-type(-n+8):checked~.darts label:nth-of-type(-n+13),
[type="radio"]:nth-of-type(-n+9):checked~.darts label:nth-of-type(-n+12),
[type="radio"]:nth-of-type(-n+10):checked~.darts label:nth-of-type(-n+11),
[type="radio"]:nth-of-type(-n+11):checked~.darts label:nth-of-type(-n+10),
[type="radio"]:nth-of-type(-n+12):checked~.darts label:nth-of-type(-n+9),
[type="radio"]:nth-of-type(-n+13):checked~.darts label:nth-of-type(-n+8),
[type="radio"]:nth-of-type(-n+14):checked~.darts label:nth-of-type(-n+7),
[type="radio"]:nth-of-type(-n+15):checked~.darts label:nth-of-type(-n+6),
[type="radio"]:nth-of-type(-n+16):checked~.darts label:nth-of-type(-n+5),
[type="radio"]:nth-of-type(-n+17):checked~.darts label:nth-of-type(-n+4),
[type="radio"]:nth-of-type(-n+18):checked~.darts label:nth-of-type(-n+3),
[type="radio"]:nth-of-type(-n+19):checked~.darts label:nth-of-type(-n+2),
[type="radio"]:nth-of-type(-n+20):checked~.darts label:nth-of-type(-n+1) {
  visibility: visible;
}

[id^="a1_"]:checked~#r1_1r:checked~.throws .throws1,
[id^="a2_"]:checked~#r2_1r:checked~.throws .throws2 {
  top: -195vw;
}

[id^="a1_"]:checked~#r1_2r:checked~.throws .throws1,
[id^="a2_"]:checked~#r2_2r:checked~.throws .throws2 {
  top: -120vw;
}

#a1_1a:checked~#r1_3r:checked~.throws .throws1,
#a2_1a:checked~#r2_3r:checked~.throws .throws2 {
  top: -5vw;
}

#a1_1a:checked~#r1_4r:checked~.throws .throws1,
#a2_1a:checked~#r2_4r:checked~.throws .throws2,
#a1_2a:checked~#r1_3r:checked~.throws .throws1,
#a2_2a:checked~#r2_3r:checked~.throws .throws2 {
  top: -10vw;
}

#a1_1a:checked~#r1_5r:checked~.throws .throws1,
#a2_1a:checked~#r2_5r:checked~.throws .throws2,
#a1_3a:checked~#r1_3r:checked~.throws .throws1,
#a2_3a:checked~#r2_3r:checked~.throws .throws2 {
  top: -15vw;
}

#a1_2a:checked~#r1_4r:checked~.throws .throws1,
#a2_2a:checked~#r2_4r:checked~.throws .throws2,
#a1_4a:checked~#r1_3r:checked~.throws .throws1,
#a2_4a:checked~#r2_3r:checked~.throws .throws2 {
  top: -20vw;
}

#a1_5a:checked~#r1_3r:checked~.throws .throws1,
#a2_5a:checked~#r2_3r:checked~.throws .throws2 {
  top: -25vw;
}

#a1_2a:checked~#r1_5r:checked~.throws .throws1,
#a2_2a:checked~#r2_5r:checked~.throws .throws2,
#a1_3a:checked~#r1_4r:checked~.throws .throws1,
#a2_3a:checked~#r2_4r:checked~.throws .throws2,
#a1_6a:checked~#r1_3r:checked~.throws .throws1,
#a2_6a:checked~#r2_3r:checked~.throws .throws2 {
  top: -30vw;
}

#a1_7a:checked~#r1_3r:checked~.throws .throws1,
#a2_7a:checked~#r2_3r:checked~.throws .throws2 {
  top: -35vw;
}

#a1_4a:checked~#r1_4r:checked~.throws .throws1,
#a2_4a:checked~#r2_4r:checked~.throws .throws2,
#a1_8a:checked~#r1_3r:checked~.throws .throws1,
#a2_8a:checked~#r2_3r:checked~.throws .throws2 {
  top: -40vw;
}

#a1_3a:checked~#r1_5r:checked~.throws .throws1,
#a2_3a:checked~#r2_5r:checked~.throws .throws2,
#a1_9a:checked~#r1_3r:checked~.throws .throws1,
#a2_9a:checked~#r2_3r:checked~.throws .throws2 {
  top: -45vw;
}

#a1_5a:checked~#r1_4r:checked~.throws .throws1,
#a2_5a:checked~#r2_4r:checked~.throws .throws2,
#a1_10a:checked~#r1_3r:checked~.throws .throws1,
#a2_10a:checked~#r2_3r:checked~.throws .throws2 {
  top: -50vw;
}

#a1_11a:checked~#r1_3r:checked~.throws .throws1,
#a2_11a:checked~#r2_3r:checked~.throws .throws2 {
  top: -55vw;
}

#a1_4a:checked~#r1_5r:checked~.throws .throws1,
#a2_4a:checked~#r2_5r:checked~.throws .throws2,
#a1_6a:checked~#r1_4r:checked~.throws .throws1,
#a2_6a:checked~#r2_4r:checked~.throws .throws2,
#a1_12a:checked~#r1_3r:checked~.throws .throws1,
#a2_12a:checked~#r2_3r:checked~.throws .throws2 {
  top: -60vw;
}

#a1_13a:checked~#r1_3r:checked~.throws .throws1,
#a2_13a:checked~#r2_3r:checked~.throws .throws2 {
  top: -65vw;
}

#a1_7a:checked~#r1_4r:checked~.throws .throws1,
#a2_7a:checked~#r2_4r:checked~.throws .throws2,
#a1_14a:checked~#r1_3r:checked~.throws .throws1,
#a2_14a:checked~#r2_3r:checked~.throws .throws2 {
  top: -70vw;
}

#a1_5a:checked~#r1_5r:checked~.throws .throws1,
#a2_5a:checked~#r2_5r:checked~.throws .throws2,
#a1_15a:checked~#r1_3r:checked~.throws .throws1,
#a2_15a:checked~#r2_3r:checked~.throws .throws2 {
  top: -75vw;
}

#a1_8a:checked~#r1_4r:checked~.throws .throws1,
#a2_8a:checked~#r2_4r:checked~.throws .throws2,
#a1_16a:checked~#r1_3r:checked~.throws .throws1,
#a2_16a:checked~#r2_3r:checked~.throws .throws2 {
  top: -80vw;
}

#a1_17a:checked~#r1_3r:checked~.throws .throws1,
#a2_17a:checked~#r2_3r:checked~.throws .throws2 {
  top: -85vw;
}

#a1_6a:checked~#r1_5r:checked~.throws .throws1,
#a2_6a:checked~#r2_5r:checked~.throws .throws2,
#a1_9a:checked~#r1_4r:checked~.throws .throws1,
#a2_9a:checked~#r2_4r:checked~.throws .throws2,
#a1_18a:checked~#r1_3r:checked~.throws .throws1,
#a2_18a:checked~#r2_3r:checked~.throws .throws2 {
  top: -90vw;
}

#a1_19a:checked~#r1_3r:checked~.throws .throws1,
#a2_19a:checked~#r2_3r:checked~.throws .throws2 {
  top: -95vw;
}

#a1_10a:checked~#r1_4r:checked~.throws .throws1,
#a2_10a:checked~#r2_4r:checked~.throws .throws2,
#a1_20a:checked~#r1_3r:checked~.throws .throws1,
#a2_20a:checked~#r2_3r:checked~.throws .throws2 {
  top: -100vw;
}

#a1_7a:checked~#r1_5r:checked~.throws .throws1,
#a2_7a:checked~#r2_5r:checked~.throws .throws2 {
  top: -105vw;
}

#a1_11a:checked~#r1_4r:checked~.throws .throws1,
#a2_11a:checked~#r2_4r:checked~.throws .throws2 {
  top: -110vw;
}

#a1_8a:checked~#r1_5r:checked~.throws .throws1,
#a2_8a:checked~#r2_5r:checked~.throws .throws2,
#a1_12a:checked~#r1_4r:checked~.throws .throws1,
#a2_12a:checked~#r2_4r:checked~.throws .throws2 {
  top: -115vw;
}

#a1_13a:checked~#r1_4r:checked~.throws .throws1,
#a2_13a:checked~#r2_4r:checked~.throws .throws2 {
  top: -125vw;
}

#a1_9a:checked~#r1_5r:checked~.throws .throws1,
#a2_9a:checked~#r2_5r:checked~.throws .throws2 {
  top: -130vw;
}

#a1_14a:checked~#r1_4r:checked~.throws .throws1,
#a2_14a:checked~#r2_4r:checked~.throws .throws2 {
  top: -135vw;
}

#a1_10a:checked~#r1_5r:checked~.throws .throws1,
#a2_10a:checked~#r2_5r:checked~.throws .throws2,
#a1_15a:checked~#r1_4r:checked~.throws .throws1,
#a2_15a:checked~#r2_4r:checked~.throws .throws2 {
  top: -140vw;
}

#a1_16a:checked~#r1_4r:checked~.throws .throws1,
#a2_16a:checked~#r2_4r:checked~.throws .throws2 {
  top: -145vw;
}

#a1_11a:checked~#r1_5r:checked~.throws .throws1,
#a2_11a:checked~#r2_5r:checked~.throws .throws2 {
  top: -150vw;
}

#a1_17a:checked~#r1_4r:checked~.throws .throws1,
#a2_17a:checked~#r2_4r:checked~.throws .throws2 {
  top: -155vw;
}

#a1_12a:checked~#r1_5r:checked~.throws .throws1,
#a2_12a:checked~#r2_5r:checked~.throws .throws2,
#a1_18a:checked~#r1_4r:checked~.throws .throws1,
#a2_18a:checked~#r2_4r:checked~.throws .throws2 {
  top: -160vw;
}

#a1_19a:checked~#r1_4r:checked~.throws .throws1,
#a2_19a:checked~#r2_4r:checked~.throws .throws2 {
  top: -165vw;
}

#a1_13a:checked~#r1_5r:checked~.throws .throws1,
#a2_13a:checked~#r2_5r:checked~.throws .throws2 {
  top: -170vw;
}

#a1_20a:checked~#r1_4r:checked~.throws .throws1,
#a2_20a:checked~#r2_4r:checked~.throws .throws2 {
  top: -175vw;
}

#a1_14a:checked~#r1_5r:checked~.throws .throws1,
#a2_14a:checked~#r2_5r:checked~.throws .throws2 {
  top: -180vw;
}

#a1_15a:checked~#r1_5r:checked~.throws .throws1,
#a2_15a:checked~#r2_5r:checked~.throws .throws2 {
  top: -185vw;
}

#a1_16a:checked~#r1_5r:checked~.throws .throws1,
#a2_16a:checked~#r2_5r:checked~.throws .throws2 {
  top: -190vw;
}

#a1_17a:checked~#r1_5r:checked~.throws .throws1,
#a2_17a:checked~#r2_5r:checked~.throws .throws2 {
  top: -200vw;
}

#a1_18a:checked~#r1_5r:checked~.throws .throws1,
#a2_18a:checked~#r2_5r:checked~.throws .throws2 {
  top: -205vw;
}

#a1_19a:checked~#r1_5r:checked~.throws .throws1,
#a2_19a:checked~#r2_5r:checked~.throws .throws2 {
  top: -210vw;
}

#a1_20a:checked~#r1_5r:checked~.throws .throws1,
#a2_20a:checked~#r2_5r:checked~.throws .throws2 {
  top: -215vw;
}

@keyframes wipewrite {
  40% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(0);
  }
}

[id^="d1_"]:checked~[id^="t1_"]:not(#t1_bust):checked~[id^="s1_"]:checked~.score:after,
[id^="d2_"]:checked~[id^="t2_"]:not(#t2_bust):checked~[id^="s2_"]:checked~.score:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
  transform: translateX(100%);
  animation: wipewrite 1.5s linear 1;
}

#t1_1:checked~[id^="s2_"]:checked~.score .score1,
#t2_1:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -10vw;
}

#t1_2:checked~[id^="s2_"]:checked~.score .score1,
#t2_2:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -20vw;
}

#t1_3:checked~[id^="s2_"]:checked~.score .score1,
#t2_3:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -30vw;
}

#t1_4:checked~[id^="s2_"]:checked~.score .score1,
#t2_4:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -40vw;
}

#t1_5:checked~[id^="s2_"]:checked~.score .score1,
#t2_5:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -50vw;
}

#t1_6:checked~[id^="s2_"]:checked~.score .score1,
#t2_6:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -60vw;
}

#t1_7:checked~[id^="s2_"]:checked~.score .score1,
#t2_7:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -70vw;
}

#t1_8:checked~[id^="s2_"]:checked~.score .score1,
#t2_8:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -80vw;
}

#t1_9:checked~[id^="s2_"]:checked~.score .score1,
#t2_9:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -90vw;
}

#t1_10:checked~[id^="s2_"]:checked~.score .score1,
#t2_10:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -100vw;
}

#t1_11:checked~[id^="s2_"]:checked~.score .score1,
#t2_11:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -110vw;
}

#t1_12:checked~[id^="s2_"]:checked~.score .score1,
#t2_12:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -120vw;
}

#t1_13:checked~[id^="s2_"]:checked~.score .score1,
#t2_13:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -130vw;
}

#t1_14:checked~[id^="s2_"]:checked~.score .score1,
#t2_14:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -140vw;
}

#t1_15:checked~[id^="s2_"]:checked~.score .score1,
#t2_15:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -150vw;
}

#t1_16:checked~[id^="s2_"]:checked~.score .score1,
#t2_16:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -160vw;
}

#t1_17:checked~[id^="s2_"]:checked~.score .score1,
#t2_17:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -170vw;
}

#t1_18:checked~[id^="s2_"]:checked~.score .score1,
#t2_18:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -180vw;
}

#t1_19:checked~[id^="s2_"]:checked~.score .score1,
#t2_19:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -190vw;
}

#t1_20:checked~[id^="s2_"]:checked~.score .score1,
#t2_20:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -200vw;
}

#t1_21:checked~[id^="s2_"]:checked~.score .score1,
#t2_21:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -210vw;
}

#t1_22:checked~[id^="s2_"]:checked~.score .score1,
#t2_22:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -220vw;
}

#t1_24:checked~[id^="s2_"]:checked~.score .score1,
#t2_24:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -240vw;
}

#t1_25:checked~[id^="s2_"]:checked~.score .score1,
#t2_25:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -250vw;
}

#t1_26:checked~[id^="s2_"]:checked~.score .score1,
#t2_26:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -260vw;
}

#t1_27:checked~[id^="s2_"]:checked~.score .score1,
#t2_27:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -270vw;
}

#t1_28:checked~[id^="s2_"]:checked~.score .score1,
#t2_28:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -280vw;
}

#t1_30:checked~[id^="s2_"]:checked~.score .score1,
#t2_30:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -300vw;
}

#t1_32:checked~[id^="s2_"]:checked~.score .score1,
#t2_32:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -320vw;
}

#t1_33:checked~[id^="s2_"]:checked~.score .score1,
#t2_33:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -330vw;
}

#t1_34:checked~[id^="s2_"]:checked~.score .score1,
#t2_34:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -340vw;
}

#t1_36:checked~[id^="s2_"]:checked~.score .score1,
#t2_36:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -360vw;
}

#t1_38:checked~[id^="s2_"]:checked~.score .score1,
#t2_38:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -380vw;
}

#t1_39:checked~[id^="s2_"]:checked~.score .score1,
#t2_39:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -390vw;
}

#t1_40:checked~[id^="s2_"]:checked~.score .score1,
#t2_40:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -400vw;
}

#t1_42:checked~[id^="s2_"]:checked~.score .score1,
#t2_42:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -420vw;
}

#t1_45:checked~[id^="s2_"]:checked~.score .score1,
#t2_45:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -450vw;
}

#t1_48:checked~[id^="s2_"]:checked~.score .score1,
#t2_48:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -480vw;
}

#t1_50:checked~[id^="s2_"]:checked~.score .score1,
#t2_50:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -500vw;
}

#t1_51:checked~[id^="s2_"]:checked~.score .score1,
#t2_51:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -510vw;
}

#t1_54:checked~[id^="s2_"]:checked~.score .score1,
#t2_54:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -540vw;
}

#t1_57:checked~[id^="s2_"]:checked~.score .score1,
#t2_57:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -570vw;
}

#t1_60:checked~[id^="s2_"]:checked~.score .score1,
#t2_60:checked~[id^="s1_"]:checked~.score .score2 {
  margin-top: -600vw;
}

[id$="_500s"]:checked~.score div {
  top: -10vw;
}

[id$="_499s"]:checked~.score div {
  top: -20vw;
}

[id$="_498s"]:checked~.score div {
  top: -30vw;
}

[id$="_497s"]:checked~.score div {
  top: -40vw;
}

[id$="_496s"]:checked~.score div {
  top: -50vw;
}

[id$="_495s"]:checked~.score div {
  top: -60vw;
}

[id$="_494s"]:checked~.score div {
  top: -70vw;
}

[id$="_493s"]:checked~.score div {
  top: -80vw;
}

[id$="_492s"]:checked~.score div {
  top: -90vw;
}

[id$="_491s"]:checked~.score div {
  top: -100vw;
}

[id$="_490s"]:checked~.score div {
  top: -110vw;
}

[id$="_489s"]:checked~.score div {
  top: -120vw;
}

[id$="_488s"]:checked~.score div {
  top: -130vw;
}

[id$="_487s"]:checked~.score div {
  top: -140vw;
}

[id$="_486s"]:checked~.score div {
  top: -150vw;
}

[id$="_485s"]:checked~.score div {
  top: -160vw;
}

[id$="_484s"]:checked~.score div {
  top: -170vw;
}

[id$="_483s"]:checked~.score div {
  top: -180vw;
}

[id$="_482s"]:checked~.score div {
  top: -190vw;
}

[id$="_481s"]:checked~.score div {
  top: -200vw;
}

[id$="_480s"]:checked~.score div {
  top: -210vw;
}

[id$="_479s"]:checked~.score div {
  top: -220vw;
}

[id$="_478s"]:checked~.score div {
  top: -230vw;
}

[id$="_477s"]:checked~.score div {
  top: -240vw;
}

[id$="_476s"]:checked~.score div {
  top: -250vw;
}

[id$="_475s"]:checked~.score div {
  top: -260vw;
}

[id$="_474s"]:checked~.score div {
  top: -270vw;
}

[id$="_473s"]:checked~.score div {
  top: -280vw;
}

[id$="_472s"]:checked~.score div {
  top: -290vw;
}

[id$="_471s"]:checked~.score div {
  top: -300vw;
}

[id$="_470s"]:checked~.score div {
  top: -310vw;
}

[id$="_469s"]:checked~.score div {
  top: -320vw;
}

[id$="_468s"]:checked~.score div {
  top: -330vw;
}

[id$="_467s"]:checked~.score div {
  top: -340vw;
}

[id$="_466s"]:checked~.score div {
  top: -350vw;
}

[id$="_465s"]:checked~.score div {
  top: -360vw;
}

[id$="_464s"]:checked~.score div {
  top: -370vw;
}

[id$="_463s"]:checked~.score div {
  top: -380vw;
}

[id$="_462s"]:checked~.score div {
  top: -390vw;
}

[id$="_461s"]:checked~.score div {
  top: -400vw;
}

[id$="_460s"]:checked~.score div {
  top: -410vw;
}

[id$="_459s"]:checked~.score div {
  top: -420vw;
}

[id$="_458s"]:checked~.score div {
  top: -430vw;
}

[id$="_457s"]:checked~.score div {
  top: -440vw;
}

[id$="_456s"]:checked~.score div {
  top: -450vw;
}

[id$="_455s"]:checked~.score div {
  top: -460vw;
}

[id$="_454s"]:checked~.score div {
  top: -470vw;
}

[id$="_453s"]:checked~.score div {
  top: -480vw;
}

[id$="_452s"]:checked~.score div {
  top: -490vw;
}

[id$="_451s"]:checked~.score div {
  top: -500vw;
}

[id$="_450s"]:checked~.score div {
  top: -510vw;
}

[id$="_449s"]:checked~.score div {
  top: -520vw;
}

[id$="_448s"]:checked~.score div {
  top: -530vw;
}

[id$="_447s"]:checked~.score div {
  top: -540vw;
}

[id$="_446s"]:checked~.score div {
  top: -550vw;
}

[id$="_445s"]:checked~.score div {
  top: -560vw;
}

[id$="_444s"]:checked~.score div {
  top: -570vw;
}

[id$="_443s"]:checked~.score div {
  top: -580vw;
}

[id$="_442s"]:checked~.score div {
  top: -590vw;
}

[id$="_441s"]:checked~.score div {
  top: -600vw;
}

[id$="_440s"]:checked~.score div {
  top: -610vw;
}

[id$="_439s"]:checked~.score div {
  top: -620vw;
}

[id$="_438s"]:checked~.score div {
  top: -630vw;
}

[id$="_437s"]:checked~.score div {
  top: -640vw;
}

[id$="_436s"]:checked~.score div {
  top: -650vw;
}

[id$="_435s"]:checked~.score div {
  top: -660vw;
}

[id$="_434s"]:checked~.score div {
  top: -670vw;
}

[id$="_433s"]:checked~.score div {
  top: -680vw;
}

[id$="_432s"]:checked~.score div {
  top: -690vw;
}

[id$="_431s"]:checked~.score div {
  top: -700vw;
}

[id$="_430s"]:checked~.score div {
  top: -710vw;
}

[id$="_429s"]:checked~.score div {
  top: -720vw;
}

[id$="_428s"]:checked~.score div {
  top: -730vw;
}

[id$="_427s"]:checked~.score div {
  top: -740vw;
}

[id$="_426s"]:checked~.score div {
  top: -750vw;
}

[id$="_425s"]:checked~.score div {
  top: -760vw;
}

[id$="_424s"]:checked~.score div {
  top: -770vw;
}

[id$="_423s"]:checked~.score div {
  top: -780vw;
}

[id$="_422s"]:checked~.score div {
  top: -790vw;
}

[id$="_421s"]:checked~.score div {
  top: -800vw;
}

[id$="_420s"]:checked~.score div {
  top: -810vw;
}

[id$="_419s"]:checked~.score div {
  top: -820vw;
}

[id$="_418s"]:checked~.score div {
  top: -830vw;
}

[id$="_417s"]:checked~.score div {
  top: -840vw;
}

[id$="_416s"]:checked~.score div {
  top: -850vw;
}

[id$="_415s"]:checked~.score div {
  top: -860vw;
}

[id$="_414s"]:checked~.score div {
  top: -870vw;
}

[id$="_413s"]:checked~.score div {
  top: -880vw;
}

[id$="_412s"]:checked~.score div {
  top: -890vw;
}

[id$="_411s"]:checked~.score div {
  top: -900vw;
}

[id$="_410s"]:checked~.score div {
  top: -910vw;
}

[id$="_409s"]:checked~.score div {
  top: -920vw;
}

[id$="_408s"]:checked~.score div {
  top: -930vw;
}

[id$="_407s"]:checked~.score div {
  top: -940vw;
}

[id$="_406s"]:checked~.score div {
  top: -950vw;
}

[id$="_405s"]:checked~.score div {
  top: -960vw;
}

[id$="_404s"]:checked~.score div {
  top: -970vw;
}

[id$="_403s"]:checked~.score div {
  top: -980vw;
}

[id$="_402s"]:checked~.score div {
  top: -990vw;
}

[id$="_401s"]:checked~.score div {
  top: -1000vw;
}

[id$="_400s"]:checked~.score div {
  top: -1010vw;
}

[id$="_399s"]:checked~.score div {
  top: -1020vw;
}

[id$="_398s"]:checked~.score div {
  top: -1030vw;
}

[id$="_397s"]:checked~.score div {
  top: -1040vw;
}

[id$="_396s"]:checked~.score div {
  top: -1050vw;
}

[id$="_395s"]:checked~.score div {
  top: -1060vw;
}

[id$="_394s"]:checked~.score div {
  top: -1070vw;
}

[id$="_393s"]:checked~.score div {
  top: -1080vw;
}

[id$="_392s"]:checked~.score div {
  top: -1090vw;
}

[id$="_391s"]:checked~.score div {
  top: -1100vw;
}

[id$="_390s"]:checked~.score div {
  top: -1110vw;
}

[id$="_389s"]:checked~.score div {
  top: -1120vw;
}

[id$="_388s"]:checked~.score div {
  top: -1130vw;
}

[id$="_387s"]:checked~.score div {
  top: -1140vw;
}

[id$="_386s"]:checked~.score div {
  top: -1150vw;
}

[id$="_385s"]:checked~.score div {
  top: -1160vw;
}

[id$="_384s"]:checked~.score div {
  top: -1170vw;
}

[id$="_383s"]:checked~.score div {
  top: -1180vw;
}

[id$="_382s"]:checked~.score div {
  top: -1190vw;
}

[id$="_381s"]:checked~.score div {
  top: -1200vw;
}

[id$="_380s"]:checked~.score div {
  top: -1210vw;
}

[id$="_379s"]:checked~.score div {
  top: -1220vw;
}

[id$="_378s"]:checked~.score div {
  top: -1230vw;
}

[id$="_377s"]:checked~.score div {
  top: -1240vw;
}

[id$="_376s"]:checked~.score div {
  top: -1250vw;
}

[id$="_375s"]:checked~.score div {
  top: -1260vw;
}

[id$="_374s"]:checked~.score div {
  top: -1270vw;
}

[id$="_373s"]:checked~.score div {
  top: -1280vw;
}

[id$="_372s"]:checked~.score div {
  top: -1290vw;
}

[id$="_371s"]:checked~.score div {
  top: -1300vw;
}

[id$="_370s"]:checked~.score div {
  top: -1310vw;
}

[id$="_369s"]:checked~.score div {
  top: -1320vw;
}

[id$="_368s"]:checked~.score div {
  top: -1330vw;
}

[id$="_367s"]:checked~.score div {
  top: -1340vw;
}

[id$="_366s"]:checked~.score div {
  top: -1350vw;
}

[id$="_365s"]:checked~.score div {
  top: -1360vw;
}

[id$="_364s"]:checked~.score div {
  top: -1370vw;
}

[id$="_363s"]:checked~.score div {
  top: -1380vw;
}

[id$="_362s"]:checked~.score div {
  top: -1390vw;
}

[id$="_361s"]:checked~.score div {
  top: -1400vw;
}

[id$="_360s"]:checked~.score div {
  top: -1410vw;
}

[id$="_359s"]:checked~.score div {
  top: -1420vw;
}

[id$="_358s"]:checked~.score div {
  top: -1430vw;
}

[id$="_357s"]:checked~.score div {
  top: -1440vw;
}

[id$="_356s"]:checked~.score div {
  top: -1450vw;
}

[id$="_355s"]:checked~.score div {
  top: -1460vw;
}

[id$="_354s"]:checked~.score div {
  top: -1470vw;
}

[id$="_353s"]:checked~.score div {
  top: -1480vw;
}

[id$="_352s"]:checked~.score div {
  top: -1490vw;
}

[id$="_351s"]:checked~.score div {
  top: -1500vw;
}

[id$="_350s"]:checked~.score div {
  top: -1510vw;
}

[id$="_349s"]:checked~.score div {
  top: -1520vw;
}

[id$="_348s"]:checked~.score div {
  top: -1530vw;
}

[id$="_347s"]:checked~.score div {
  top: -1540vw;
}

[id$="_346s"]:checked~.score div {
  top: -1550vw;
}

[id$="_345s"]:checked~.score div {
  top: -1560vw;
}

[id$="_344s"]:checked~.score div {
  top: -1570vw;
}

[id$="_343s"]:checked~.score div {
  top: -1580vw;
}

[id$="_342s"]:checked~.score div {
  top: -1590vw;
}

[id$="_341s"]:checked~.score div {
  top: -1600vw;
}

[id$="_340s"]:checked~.score div {
  top: -1610vw;
}

[id$="_339s"]:checked~.score div {
  top: -1620vw;
}

[id$="_338s"]:checked~.score div {
  top: -1630vw;
}

[id$="_337s"]:checked~.score div {
  top: -1640vw;
}

[id$="_336s"]:checked~.score div {
  top: -1650vw;
}

[id$="_335s"]:checked~.score div {
  top: -1660vw;
}

[id$="_334s"]:checked~.score div {
  top: -1670vw;
}

[id$="_333s"]:checked~.score div {
  top: -1680vw;
}

[id$="_332s"]:checked~.score div {
  top: -1690vw;
}

[id$="_331s"]:checked~.score div {
  top: -1700vw;
}

[id$="_330s"]:checked~.score div {
  top: -1710vw;
}

[id$="_329s"]:checked~.score div {
  top: -1720vw;
}

[id$="_328s"]:checked~.score div {
  top: -1730vw;
}

[id$="_327s"]:checked~.score div {
  top: -1740vw;
}

[id$="_326s"]:checked~.score div {
  top: -1750vw;
}

[id$="_325s"]:checked~.score div {
  top: -1760vw;
}

[id$="_324s"]:checked~.score div {
  top: -1770vw;
}

[id$="_323s"]:checked~.score div {
  top: -1780vw;
}

[id$="_322s"]:checked~.score div {
  top: -1790vw;
}

[id$="_321s"]:checked~.score div {
  top: -1800vw;
}

[id$="_320s"]:checked~.score div {
  top: -1810vw;
}

[id$="_319s"]:checked~.score div {
  top: -1820vw;
}

[id$="_318s"]:checked~.score div {
  top: -1830vw;
}

[id$="_317s"]:checked~.score div {
  top: -1840vw;
}

[id$="_316s"]:checked~.score div {
  top: -1850vw;
}

[id$="_315s"]:checked~.score div {
  top: -1860vw;
}

[id$="_314s"]:checked~.score div {
  top: -1870vw;
}

[id$="_313s"]:checked~.score div {
  top: -1880vw;
}

[id$="_312s"]:checked~.score div {
  top: -1890vw;
}

[id$="_311s"]:checked~.score div {
  top: -1900vw;
}

[id$="_310s"]:checked~.score div {
  top: -1910vw;
}

[id$="_309s"]:checked~.score div {
  top: -1920vw;
}

[id$="_308s"]:checked~.score div {
  top: -1930vw;
}

[id$="_307s"]:checked~.score div {
  top: -1940vw;
}

[id$="_306s"]:checked~.score div {
  top: -1950vw;
}

[id$="_305s"]:checked~.score div {
  top: -1960vw;
}

[id$="_304s"]:checked~.score div {
  top: -1970vw;
}

[id$="_303s"]:checked~.score div {
  top: -1980vw;
}

[id$="_302s"]:checked~.score div {
  top: -1990vw;
}

[id$="_301s"]:checked~.score div {
  top: -2000vw;
}

[id$="_300s"]:checked~.score div {
  top: -2010vw;
}

[id$="_299s"]:checked~.score div {
  top: -2020vw;
}

[id$="_298s"]:checked~.score div {
  top: -2030vw;
}

[id$="_297s"]:checked~.score div {
  top: -2040vw;
}

[id$="_296s"]:checked~.score div {
  top: -2050vw;
}

[id$="_295s"]:checked~.score div {
  top: -2060vw;
}

[id$="_294s"]:checked~.score div {
  top: -2070vw;
}

[id$="_293s"]:checked~.score div {
  top: -2080vw;
}

[id$="_292s"]:checked~.score div {
  top: -2090vw;
}

[id$="_291s"]:checked~.score div {
  top: -2100vw;
}

[id$="_290s"]:checked~.score div {
  top: -2110vw;
}

[id$="_289s"]:checked~.score div {
  top: -2120vw;
}

[id$="_288s"]:checked~.score div {
  top: -2130vw;
}

[id$="_287s"]:checked~.score div {
  top: -2140vw;
}

[id$="_286s"]:checked~.score div {
  top: -2150vw;
}

[id$="_285s"]:checked~.score div {
  top: -2160vw;
}

[id$="_284s"]:checked~.score div {
  top: -2170vw;
}

[id$="_283s"]:checked~.score div {
  top: -2180vw;
}

[id$="_282s"]:checked~.score div {
  top: -2190vw;
}

[id$="_281s"]:checked~.score div {
  top: -2200vw;
}

[id$="_280s"]:checked~.score div {
  top: -2210vw;
}

[id$="_279s"]:checked~.score div {
  top: -2220vw;
}

[id$="_278s"]:checked~.score div {
  top: -2230vw;
}

[id$="_277s"]:checked~.score div {
  top: -2240vw;
}

[id$="_276s"]:checked~.score div {
  top: -2250vw;
}

[id$="_275s"]:checked~.score div {
  top: -2260vw;
}

[id$="_274s"]:checked~.score div {
  top: -2270vw;
}

[id$="_273s"]:checked~.score div {
  top: -2280vw;
}

[id$="_272s"]:checked~.score div {
  top: -2290vw;
}

[id$="_271s"]:checked~.score div {
  top: -2300vw;
}

[id$="_270s"]:checked~.score div {
  top: -2310vw;
}

[id$="_269s"]:checked~.score div {
  top: -2320vw;
}

[id$="_268s"]:checked~.score div {
  top: -2330vw;
}

[id$="_267s"]:checked~.score div {
  top: -2340vw;
}

[id$="_266s"]:checked~.score div {
  top: -2350vw;
}

[id$="_265s"]:checked~.score div {
  top: -2360vw;
}

[id$="_264s"]:checked~.score div {
  top: -2370vw;
}

[id$="_263s"]:checked~.score div {
  top: -2380vw;
}

[id$="_262s"]:checked~.score div {
  top: -2390vw;
}

[id$="_261s"]:checked~.score div {
  top: -2400vw;
}

[id$="_260s"]:checked~.score div {
  top: -2410vw;
}

[id$="_259s"]:checked~.score div {
  top: -2420vw;
}

[id$="_258s"]:checked~.score div {
  top: -2430vw;
}

[id$="_257s"]:checked~.score div {
  top: -2440vw;
}

[id$="_256s"]:checked~.score div {
  top: -2450vw;
}

[id$="_255s"]:checked~.score div {
  top: -2460vw;
}

[id$="_254s"]:checked~.score div {
  top: -2470vw;
}

[id$="_253s"]:checked~.score div {
  top: -2480vw;
}

[id$="_252s"]:checked~.score div {
  top: -2490vw;
}

[id$="_251s"]:checked~.score div {
  top: -2500vw;
}

[id$="_250s"]:checked~.score div {
  top: -2510vw;
}

[id$="_249s"]:checked~.score div {
  top: -2520vw;
}

[id$="_248s"]:checked~.score div {
  top: -2530vw;
}

[id$="_247s"]:checked~.score div {
  top: -2540vw;
}

[id$="_246s"]:checked~.score div {
  top: -2550vw;
}

[id$="_245s"]:checked~.score div {
  top: -2560vw;
}

[id$="_244s"]:checked~.score div {
  top: -2570vw;
}

[id$="_243s"]:checked~.score div {
  top: -2580vw;
}

[id$="_242s"]:checked~.score div {
  top: -2590vw;
}

[id$="_241s"]:checked~.score div {
  top: -2600vw;
}

[id$="_240s"]:checked~.score div {
  top: -2610vw;
}

[id$="_239s"]:checked~.score div {
  top: -2620vw;
}

[id$="_238s"]:checked~.score div {
  top: -2630vw;
}

[id$="_237s"]:checked~.score div {
  top: -2640vw;
}

[id$="_236s"]:checked~.score div {
  top: -2650vw;
}

[id$="_235s"]:checked~.score div {
  top: -2660vw;
}

[id$="_234s"]:checked~.score div {
  top: -2670vw;
}

[id$="_233s"]:checked~.score div {
  top: -2680vw;
}

[id$="_232s"]:checked~.score div {
  top: -2690vw;
}

[id$="_231s"]:checked~.score div {
  top: -2700vw;
}

[id$="_230s"]:checked~.score div {
  top: -2710vw;
}

[id$="_229s"]:checked~.score div {
  top: -2720vw;
}

[id$="_228s"]:checked~.score div {
  top: -2730vw;
}

[id$="_227s"]:checked~.score div {
  top: -2740vw;
}

[id$="_226s"]:checked~.score div {
  top: -2750vw;
}

[id$="_225s"]:checked~.score div {
  top: -2760vw;
}

[id$="_224s"]:checked~.score div {
  top: -2770vw;
}

[id$="_223s"]:checked~.score div {
  top: -2780vw;
}

[id$="_222s"]:checked~.score div {
  top: -2790vw;
}

[id$="_221s"]:checked~.score div {
  top: -2800vw;
}

[id$="_220s"]:checked~.score div {
  top: -2810vw;
}

[id$="_219s"]:checked~.score div {
  top: -2820vw;
}

[id$="_218s"]:checked~.score div {
  top: -2830vw;
}

[id$="_217s"]:checked~.score div {
  top: -2840vw;
}

[id$="_216s"]:checked~.score div {
  top: -2850vw;
}

[id$="_215s"]:checked~.score div {
  top: -2860vw;
}

[id$="_214s"]:checked~.score div {
  top: -2870vw;
}

[id$="_213s"]:checked~.score div {
  top: -2880vw;
}

[id$="_212s"]:checked~.score div {
  top: -2890vw;
}

[id$="_211s"]:checked~.score div {
  top: -2900vw;
}

[id$="_210s"]:checked~.score div {
  top: -2910vw;
}

[id$="_209s"]:checked~.score div {
  top: -2920vw;
}

[id$="_208s"]:checked~.score div {
  top: -2930vw;
}

[id$="_207s"]:checked~.score div {
  top: -2940vw;
}

[id$="_206s"]:checked~.score div {
  top: -2950vw;
}

[id$="_205s"]:checked~.score div {
  top: -2960vw;
}

[id$="_204s"]:checked~.score div {
  top: -2970vw;
}

[id$="_203s"]:checked~.score div {
  top: -2980vw;
}

[id$="_202s"]:checked~.score div {
  top: -2990vw;
}

[id$="_201s"]:checked~.score div {
  top: -3000vw;
}

[id$="_200s"]:checked~.score div {
  top: -3010vw;
}

[id$="_199s"]:checked~.score div {
  top: -3020vw;
}

[id$="_198s"]:checked~.score div {
  top: -3030vw;
}

[id$="_197s"]:checked~.score div {
  top: -3040vw;
}

[id$="_196s"]:checked~.score div {
  top: -3050vw;
}

[id$="_195s"]:checked~.score div {
  top: -3060vw;
}

[id$="_194s"]:checked~.score div {
  top: -3070vw;
}

[id$="_193s"]:checked~.score div {
  top: -3080vw;
}

[id$="_192s"]:checked~.score div {
  top: -3090vw;
}

[id$="_191s"]:checked~.score div {
  top: -3100vw;
}

[id$="_190s"]:checked~.score div {
  top: -3110vw;
}

[id$="_189s"]:checked~.score div {
  top: -3120vw;
}

[id$="_188s"]:checked~.score div {
  top: -3130vw;
}

[id$="_187s"]:checked~.score div {
  top: -3140vw;
}

[id$="_186s"]:checked~.score div {
  top: -3150vw;
}

[id$="_185s"]:checked~.score div {
  top: -3160vw;
}

[id$="_184s"]:checked~.score div {
  top: -3170vw;
}

[id$="_183s"]:checked~.score div {
  top: -3180vw;
}

[id$="_182s"]:checked~.score div {
  top: -3190vw;
}

[id$="_181s"]:checked~.score div {
  top: -3200vw;
}

[id$="_180s"]:checked~.score div {
  top: -3210vw;
}

[id$="_179s"]:checked~.score div {
  top: -3220vw;
}

[id$="_178s"]:checked~.score div {
  top: -3230vw;
}

[id$="_177s"]:checked~.score div {
  top: -3240vw;
}

[id$="_176s"]:checked~.score div {
  top: -3250vw;
}

[id$="_175s"]:checked~.score div {
  top: -3260vw;
}

[id$="_174s"]:checked~.score div {
  top: -3270vw;
}

[id$="_173s"]:checked~.score div {
  top: -3280vw;
}

[id$="_172s"]:checked~.score div {
  top: -3290vw;
}

[id$="_171s"]:checked~.score div {
  top: -3300vw;
}

[id$="_170s"]:checked~.score div {
  top: -3310vw;
}

[id$="_169s"]:checked~.score div {
  top: -3320vw;
}

[id$="_168s"]:checked~.score div {
  top: -3330vw;
}

[id$="_167s"]:checked~.score div {
  top: -3340vw;
}

[id$="_166s"]:checked~.score div {
  top: -3350vw;
}

[id$="_165s"]:checked~.score div {
  top: -3360vw;
}

[id$="_164s"]:checked~.score div {
  top: -3370vw;
}

[id$="_163s"]:checked~.score div {
  top: -3380vw;
}

[id$="_162s"]:checked~.score div {
  top: -3390vw;
}

[id$="_161s"]:checked~.score div {
  top: -3400vw;
}

[id$="_160s"]:checked~.score div {
  top: -3410vw;
}

[id$="_159s"]:checked~.score div {
  top: -3420vw;
}

[id$="_158s"]:checked~.score div {
  top: -3430vw;
}

[id$="_157s"]:checked~.score div {
  top: -3440vw;
}

[id$="_156s"]:checked~.score div {
  top: -3450vw;
}

[id$="_155s"]:checked~.score div {
  top: -3460vw;
}

[id$="_154s"]:checked~.score div {
  top: -3470vw;
}

[id$="_153s"]:checked~.score div {
  top: -3480vw;
}

[id$="_152s"]:checked~.score div {
  top: -3490vw;
}

[id$="_151s"]:checked~.score div {
  top: -3500vw;
}

[id$="_150s"]:checked~.score div {
  top: -3510vw;
}

[id$="_149s"]:checked~.score div {
  top: -3520vw;
}

[id$="_148s"]:checked~.score div {
  top: -3530vw;
}

[id$="_147s"]:checked~.score div {
  top: -3540vw;
}

[id$="_146s"]:checked~.score div {
  top: -3550vw;
}

[id$="_145s"]:checked~.score div {
  top: -3560vw;
}

[id$="_144s"]:checked~.score div {
  top: -3570vw;
}

[id$="_143s"]:checked~.score div {
  top: -3580vw;
}

[id$="_142s"]:checked~.score div {
  top: -3590vw;
}

[id$="_141s"]:checked~.score div {
  top: -3600vw;
}

[id$="_140s"]:checked~.score div {
  top: -3610vw;
}

[id$="_139s"]:checked~.score div {
  top: -3620vw;
}

[id$="_138s"]:checked~.score div {
  top: -3630vw;
}

[id$="_137s"]:checked~.score div {
  top: -3640vw;
}

[id$="_136s"]:checked~.score div {
  top: -3650vw;
}

[id$="_135s"]:checked~.score div {
  top: -3660vw;
}

[id$="_134s"]:checked~.score div {
  top: -3670vw;
}

[id$="_133s"]:checked~.score div {
  top: -3680vw;
}

[id$="_132s"]:checked~.score div {
  top: -3690vw;
}

[id$="_131s"]:checked~.score div {
  top: -3700vw;
}

[id$="_130s"]:checked~.score div {
  top: -3710vw;
}

[id$="_129s"]:checked~.score div {
  top: -3720vw;
}

[id$="_128s"]:checked~.score div {
  top: -3730vw;
}

[id$="_127s"]:checked~.score div {
  top: -3740vw;
}

[id$="_126s"]:checked~.score div {
  top: -3750vw;
}

[id$="_125s"]:checked~.score div {
  top: -3760vw;
}

[id$="_124s"]:checked~.score div {
  top: -3770vw;
}

[id$="_123s"]:checked~.score div {
  top: -3780vw;
}

[id$="_122s"]:checked~.score div {
  top: -3790vw;
}

[id$="_121s"]:checked~.score div {
  top: -3800vw;
}

[id$="_120s"]:checked~.score div {
  top: -3810vw;
}

[id$="_119s"]:checked~.score div {
  top: -3820vw;
}

[id$="_118s"]:checked~.score div {
  top: -3830vw;
}

[id$="_117s"]:checked~.score div {
  top: -3840vw;
}

[id$="_116s"]:checked~.score div {
  top: -3850vw;
}

[id$="_115s"]:checked~.score div {
  top: -3860vw;
}

[id$="_114s"]:checked~.score div {
  top: -3870vw;
}

[id$="_113s"]:checked~.score div {
  top: -3880vw;
}

[id$="_112s"]:checked~.score div {
  top: -3890vw;
}

[id$="_111s"]:checked~.score div {
  top: -3900vw;
}

[id$="_110s"]:checked~.score div {
  top: -3910vw;
}

[id$="_109s"]:checked~.score div {
  top: -3920vw;
}

[id$="_108s"]:checked~.score div {
  top: -3930vw;
}

[id$="_107s"]:checked~.score div {
  top: -3940vw;
}

[id$="_106s"]:checked~.score div {
  top: -3950vw;
}

[id$="_105s"]:checked~.score div {
  top: -3960vw;
}

[id$="_104s"]:checked~.score div {
  top: -3970vw;
}

[id$="_103s"]:checked~.score div {
  top: -3980vw;
}

[id$="_102s"]:checked~.score div {
  top: -3990vw;
}

[id$="_101s"]:checked~.score div {
  top: -4000vw;
}

[id$="_100s"]:checked~.score div {
  top: -4010vw;
}

[id$="_99s"]:checked~.score div {
  top: -4020vw;
}

[id$="_98s"]:checked~.score div {
  top: -4030vw;
}

[id$="_97s"]:checked~.score div {
  top: -4040vw;
}

[id$="_96s"]:checked~.score div {
  top: -4050vw;
}

[id$="_95s"]:checked~.score div {
  top: -4060vw;
}

[id$="_94s"]:checked~.score div {
  top: -4070vw;
}

[id$="_93s"]:checked~.score div {
  top: -4080vw;
}

[id$="_92s"]:checked~.score div {
  top: -4090vw;
}

[id$="_91s"]:checked~.score div {
  top: -4100vw;
}

[id$="_90s"]:checked~.score div {
  top: -4110vw;
}

[id$="_89s"]:checked~.score div {
  top: -4120vw;
}

[id$="_88s"]:checked~.score div {
  top: -4130vw;
}

[id$="_87s"]:checked~.score div {
  top: -4140vw;
}

[id$="_86s"]:checked~.score div {
  top: -4150vw;
}

[id$="_85s"]:checked~.score div {
  top: -4160vw;
}

[id$="_84s"]:checked~.score div {
  top: -4170vw;
}

[id$="_83s"]:checked~.score div {
  top: -4180vw;
}

[id$="_82s"]:checked~.score div {
  top: -4190vw;
}

[id$="_81s"]:checked~.score div {
  top: -4200vw;
}

[id$="_80s"]:checked~.score div {
  top: -4210vw;
}

[id$="_79s"]:checked~.score div {
  top: -4220vw;
}

[id$="_78s"]:checked~.score div {
  top: -4230vw;
}

[id$="_77s"]:checked~.score div {
  top: -4240vw;
}

[id$="_76s"]:checked~.score div {
  top: -4250vw;
}

[id$="_75s"]:checked~.score div {
  top: -4260vw;
}

[id$="_74s"]:checked~.score div {
  top: -4270vw;
}

[id$="_73s"]:checked~.score div {
  top: -4280vw;
}

[id$="_72s"]:checked~.score div {
  top: -4290vw;
}

[id$="_71s"]:checked~.score div {
  top: -4300vw;
}

[id$="_70s"]:checked~.score div {
  top: -4310vw;
}

[id$="_69s"]:checked~.score div {
  top: -4320vw;
}

[id$="_68s"]:checked~.score div {
  top: -4330vw;
}

[id$="_67s"]:checked~.score div {
  top: -4340vw;
}

[id$="_66s"]:checked~.score div {
  top: -4350vw;
}

[id$="_65s"]:checked~.score div {
  top: -4360vw;
}

[id$="_64s"]:checked~.score div {
  top: -4370vw;
}

[id$="_63s"]:checked~.score div {
  top: -4380vw;
}

[id$="_62s"]:checked~.score div {
  top: -4390vw;
}

[id$="_61s"]:checked~.score div {
  top: -4400vw;
}

[id$="_60s"]:checked~.score div {
  top: -4410vw;
}

[id$="_59s"]:checked~.score div {
  top: -4420vw;
}

[id$="_58s"]:checked~.score div {
  top: -4430vw;
}

[id$="_57s"]:checked~.score div {
  top: -4440vw;
}

[id$="_56s"]:checked~.score div {
  top: -4450vw;
}

[id$="_55s"]:checked~.score div {
  top: -4460vw;
}

[id$="_54s"]:checked~.score div {
  top: -4470vw;
}

[id$="_53s"]:checked~.score div {
  top: -4480vw;
}

[id$="_52s"]:checked~.score div {
  top: -4490vw;
}

[id$="_51s"]:checked~.score div {
  top: -4500vw;
}

[id$="_50s"]:checked~.score div {
  top: -4510vw;
}

[id$="_49s"]:checked~.score div {
  top: -4520vw;
}

[id$="_48s"]:checked~.score div {
  top: -4530vw;
}

[id$="_47s"]:checked~.score div {
  top: -4540vw;
}

[id$="_46s"]:checked~.score div {
  top: -4550vw;
}

[id$="_45s"]:checked~.score div {
  top: -4560vw;
}

[id$="_44s"]:checked~.score div {
  top: -4570vw;
}

[id$="_43s"]:checked~.score div {
  top: -4580vw;
}

[id$="_42s"]:checked~.score div {
  top: -4590vw;
}

[id$="_41s"]:checked~.score div {
  top: -4600vw;
}

[id$="_40s"]:checked~.score div {
  top: -4610vw;
}

[id$="_39s"]:checked~.score div {
  top: -4620vw;
}

[id$="_38s"]:checked~.score div {
  top: -4630vw;
}

[id$="_37s"]:checked~.score div {
  top: -4640vw;
}

[id$="_36s"]:checked~.score div {
  top: -4650vw;
}

[id$="_35s"]:checked~.score div {
  top: -4660vw;
}

[id$="_34s"]:checked~.score div {
  top: -4670vw;
}

[id$="_33s"]:checked~.score div {
  top: -4680vw;
}

[id$="_32s"]:checked~.score div {
  top: -4690vw;
}

[id$="_31s"]:checked~.score div {
  top: -4700vw;
}

[id$="_30s"]:checked~.score div {
  top: -4710vw;
}

[id$="_29s"]:checked~.score div {
  top: -4720vw;
}

[id$="_28s"]:checked~.score div {
  top: -4730vw;
}

[id$="_27s"]:checked~.score div {
  top: -4740vw;
}

[id$="_26s"]:checked~.score div {
  top: -4750vw;
}

[id$="_25s"]:checked~.score div {
  top: -4760vw;
}

[id$="_24s"]:checked~.score div {
  top: -4770vw;
}

[id$="_23s"]:checked~.score div {
  top: -4780vw;
}

[id$="_22s"]:checked~.score div {
  top: -4790vw;
}

[id$="_21s"]:checked~.score div {
  top: -4800vw;
}

[id$="_20s"]:checked~.score div {
  top: -4810vw;
}

[id$="_19s"]:checked~.score div {
  top: -4820vw;
}

[id$="_18s"]:checked~.score div {
  top: -4830vw;
}

[id$="_17s"]:checked~.score div {
  top: -4840vw;
}

[id$="_16s"]:checked~.score div {
  top: -4850vw;
}

[id$="_15s"]:checked~.score div {
  top: -4860vw;
}

[id$="_14s"]:checked~.score div {
  top: -4870vw;
}

[id$="_13s"]:checked~.score div {
  top: -4880vw;
}

[id$="_12s"]:checked~.score div {
  top: -4890vw;
}

[id$="_11s"]:checked~.score div {
  top: -4900vw;
}

[id$="_10s"]:checked~.score div {
  top: -4910vw;
}

[id$="_9s"]:checked~.score div {
  top: -4920vw;
}

[id$="_8s"]:checked~.score div {
  top: -4930vw;
}

[id$="_7s"]:checked~.score div {
  top: -4940vw;
}

[id$="_6s"]:checked~.score div {
  top: -4950vw;
}

[id$="_5s"]:checked~.score div {
  top: -4960vw;
}

[id$="_4s"]:checked~.score div {
  top: -4970vw;
}

[id$="_3s"]:checked~.score div {
  top: -4980vw;
}

[id$="_2s"]:checked~.score div {
  top: -4990vw;
}

[id$="_1s"]:checked~.score div {
  top: -5000vw;
}

[id$="_0s"]:checked~.score div {
  top: -5010vw;
}